# 4.5 Consistency Checks

#### Importing Libraries
#### Importing Data
#### Creating a Mixed-Type Dataframe
#### Missing Values
#### Tak 4.5
#### Exporting to CSV
#### Report Findings

## Importing Libraries

In [68]:
# Import Libraries
import pandas as pd
import numpy as np
import os

## Importing Data

In [69]:
# Define pathway to relevant folder
path = r'/Users/sydneyjohnson/Documents/CF Data Analytics Course/07-2024 Instacart Basket Analysis'

In [70]:
# Import products.csv
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'products.csv'))

In [71]:
# Import orders_wrangled.csv
df_ords = pd.read_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_wrangled.csv'))

## Creating a Mixed-Type Dataframe

In [72]:
# Create a dataframe
df_test=pd.DataFrame()

In [73]:
# Create a mixed type column
df_test['mix']=['a','b',1,True]

In [74]:
df_test.head()

    mix
0     a
1     b
2     1
3  True

In [75]:
# Check for mixed type columns
for col in df_test.columns.tolist():
  weird = (df_test[[col]].map(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_test[weird]) > 0:
    print (col)

mix

## Missing Values

In [76]:
# Finding where there are missing values in df_prods
df_prods.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [77]:
# Creating a subset of the missing values in df_prods
df_nan=df_prods[df_prods['product_name'].isnull() == True]
df_nan

       product_id product_name  aisle_id  department_id  prices
33             34          NaN       121             14    12.2
68             69          NaN        26              7    11.8
115           116          NaN        93              3    10.8
261           262          NaN       110             13    12.1
525           525          NaN       109             11     1.2
1511         1511          NaN        84             16    14.3
1780         1780          NaN       126             11    12.3
2240         2240          NaN        52              1    14.2
2586         2586          NaN       104             13    12.4
3159         3159          NaN       126             11    13.1
3230         3230          NaN       120             16    14.4
3736         3736          NaN        41              8    14.8
4283         4283          NaN        77              7    14.4
4790         4790          NaN        91             16    14.5
38187       38183          NaN        39             12    20.9
40444       40440          NaN       120             16    14.8

In [78]:
# See shape of full df_prods
df_prods.shape

(49693, 5)

In [79]:
# Create version of df_prods without missing data
df_prods_clean = df_prods[df_prods['product_name'].isnull() == False]

In [80]:
# Check shape of new df_prods
df_prods_clean.shape

(49677, 5)

In [81]:
df_dups = df_prods_clean[df_prods_clean.duplicated()]

In [82]:
df_dups

,product_id,product_name,aisle_id,department_id,prices
462,462,Fiber 4g Gummy Dietary Supplement,70,11,4.8
18459,18458,Ranger IPA,27,5,9.2
26810,26808,Black House Coffee Roasty Stout Beer,27,5,13.4
35309,35306,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8
35495,35491,Adore Forever Body Wash,127,11,9.9

In [83]:
# Create new df_prods with no duplicates
df_prods_clean_no_dups = df_prods_clean.drop_duplicates()

In [84]:
df_prods_clean_no_dups

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3
...,...,...,...,...,...
49688,49684,"Vodka, Triple Distilled, Twist of Vanilla",124,5,5.3
49689,49685,En Croute Roast Hazelnut Cranberry,42,1,3.1
49690,49686,Artisan Baguette,112,3,7.8
49691,49687,Smartblend Healthy Metabolism Dry Cat Food,41,8,4.7
49692,49688,Fresh Foaming Cleanser,73,11,13.5

## Task 4.5

In [85]:
# 2. Run df.describe on df_ords and check for any inconsistensies 
df_ords.describe()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_placed,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710541e+06,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552705e+05,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710541e+06,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421082e+06,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

In [86]:
# 2. Nothing looks out of the ordinary. 
# The 'order_number' column has the largest outlier (Max:100, Q3: 23). Otherwise all spreads look consistent.
# The max 'days_since_prior_order' is 30 days, which feels low. Perhaps its a matter of the sample of customers.

In [87]:
# 3. Check for mixed type data in df_ords
for col in df_ords.columns.tolist():
  weird = (df_ords[[col]].map(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_ords[weird]) > 0:
    print (col)

In [88]:
# 4. No mixed type columms found in df_ords

In [89]:
# 5. Check for missing values in df_ords
df_ords.isnull().sum()

Unnamed: 0                     0
order_id                       0
user_id                        0
order_number                   0
orders_day_of_week             0
order_hour_placed              0
days_since_prior_order    206209
dtype: int64

In [90]:
# 5. The only missing values are in the days_since_prior_order column. 
# The first time a customer orders, they will always have a null in this column.
# 206209 nulls matches the number customers in this dataframe (user_id max = 206209)

In [91]:
# 6. I don't believe there is any reason to remove these nulls from the data,
# but I will create a new dataframe for returning customers only for practice
df_ords_returning = df_ords[df_ords['days_since_prior_order'].isnull() == False]

In [92]:
df_ords_returning.shape

(3214874, 7)

In [93]:
# Check to make sure the correct amount of observations were removed (df_ords has 3421083 rows)
3214874+206209

3421083

In [94]:
# 7. Check for duplicates in df_ords
df_ords_dups = df_ords[df_ords.duplicated()]
df_ords_dups

Empty DataFrame
Columns: [Unnamed: 0, order_id, user_id, order_number, orders_day_of_week, order_hour_placed, days_since_prior_order]
Index: []

In [95]:
# 8. No duplicates found in df_ords. If there were, I would perform:
# df_ords_no_dups = df_ords.drop_duplicates()

## Exporting to CSV

In [96]:
# Export df_ords as 'orders_cleaned.csv'
df_ords.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_cleaned.csv'))

In [97]:
# Export df_prods_clean_no_dups as 'products_cleaned.csv'
df_prods_clean_no_dups.to_csv(os.path.join(path, '02 Data','Prepared Data', 'products_cleaned.csv'))

## Report Findings

In [98]:
df_ords.shape

(3421083, 7)

In [99]:
df_prods_clean_no_dups.shape

(49672, 5)