## 4.6 Merging Orders and Products Dataframes

### Contents
#### Importing Libraries
#### Importing Data
#### Merging df_ords and df_ords_prior

### Importing Libraries

In [12]:
# Import Libraries
import pandas as pd
import numpy as np
import os

### Importing Data

In [8]:
# Define pathway to relevant folder
path = r'/Users/sydneyjohnson/Documents/CF Data Analytics Course/07-2024 Instacart Basket Analysis'

In [14]:
# Import orders_wrangled.csv
df_ords = pd.read_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_wrangled.csv'))

In [16]:
# Import orders_products_prior.csv
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data','Original Data', 'orders_products_prior.csv'))

In [18]:
# Check the output
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [20]:
df_ords_prior.shape

(32434489, 4)

In [22]:
df_ords.shape

(3421083, 7)

### Merging df_ords and df_ords_prior

In [26]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [28]:
df_merged_large.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_placed,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,1,2,8,NaN,196,1,0,both
1,0,2539329,1,1,2,8,NaN,14084,2,0,both
2,0,2539329,1,1,2,8,NaN,12427,3,0,both
3,0,2539329,1,1,2,8,NaN,26088,4,0,both
4,0,2539329,1,1,2,8,NaN,26405,5,0,both

In [36]:
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [ ]:
# Export data to pkl

df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))