## 4.8 Grouping

### Contents
#### Importing Libraries
#### Importing Data
#### Define Dataframe
#### Grouping
#### Exporting Data

### Importing Libraries

In [1]:
# Import Libraries
import pandas as pd
import numpy as np
import os

### Importing Data

In [3]:
# Define pathway to relevant folder
path = r'/Users/sydneyjohnson/Documents/CF Data Analytics Course/07-2024 Instacart Basket Analysis'

In [5]:
# Import ords_prods_merged.pkl
df = pd.read_pickle(os.path.join(path, '02 Data','Prepared Data', 'combo_7_25.pkl'))

### Define Dataframe

In [7]:
# Create subset of first 1000000 rows
df = df_ords_prods_merge[:1000000]

NameError: name 'df_ords_prods_merge' is not defined

In [ ]:
df.shape

In [ ]:
df.head(10)

### Grouping

In [ ]:
df.groupby('product_name')

In [ ]:
df.groupby('department_id').agg({'order_number': ['mean']})

In [ ]:
df.groupby('department_id')['order_number'].mean()

In [ ]:
df.groupby('department_id').agg({'order_number': ['mean', 'min', 'max']})

In [8]:
df['max_order'] = df.groupby(['user_id'])['order_number'].transform(np.max)

/var/folders/18/9t4s6gxn2qb60_74h5w_ymmw0000gn/T/ipykernel_49788/3819523978.py:1: FutureWarning: The provided callable <function max at 0x107839a80> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df['max_order'] = df.groupby(['user_id'])['order_number'].transform(np.max)

In [12]:
df.head(15)

,order_id,user_id,order_number,orders_day_of_week,order_hour_placed,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,max_order,loyalty_flag,avg_price,spending_flag,med_days_prior,frequency_flag
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,10,New customer,6.367797,Low Spender,20.5,Non-frequent customer
1,2539329,1,1,2,8,NaN,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,10,New customer,6.367797,Low Spender,20.5,Non-frequent customer
2,2539329,1,1,2,8,NaN,12427,3,0,Original Beef Jerky,23,19,4.4,both,10,New customer,6.367797,Low Spender,20.5,Non-frequent customer
3,2539329,1,1,2,8,NaN,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,both,10,New customer,6.367797,Low Spender,20.5,Non-frequent customer
4,2539329,1,1,2,8,NaN,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,10,New customer,6.367797,Low Spender,20.5,Non-frequent customer
5,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,10,New customer,6.367797,Low Spender,20.5,Non-frequent customer
6,2398795,1,2,3,7,15.0,10258,2,0,Pistachios,117,19,3.0,both,10,New customer,6.367797,Low Spender,20.5,Non-frequent customer
7,2398795,1,2,3,7,15.0,12427,3,1,Original Beef Jerky,23,19,4.4,both,10,New customer,6.367797,Low Spender,20.5,Non-frequent customer
8,2398795,1,2,3,7,15.0,13176,4,0,Bag of Organic Bananas,24,4,10.3,both,10,New customer,6.367797,Low Spender,20.5,Non-frequent customer
9,2398795,1,2,3,7,15.0,26088,5,1,Aged White Cheddar Popcorn,23,19,4.7,both,10,New customer,6.367797,Low Spender,20.5,Non-frequent customer
10,2398795,1,2,3,7,15.0,13032,6,0,Cinnamon Toast Crunch,121,14,4.0,both,10,New customer,6.367797,Low Spender,20.5,Non-frequent customer
11,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,10,New customer,6.367797,Low Spender,20.5,Non-frequent customer
12,473747,1,3,3,12,21.0,12427,2,1,Original Beef Jerky,23,19,4.4,both,10,New customer,6.367797,Low Spender,20.5,Non-frequent customer
13,473747,1,3,3,12,21.0,10258,3,1,Pistachios,117,19,3.0,both,10,New customer,6.367797,Low Spender,20.5,Non-frequent customer
14,473747,1,3,3,12,21.0,25133,4,0,Organic String Cheese,21,16,8.6,both,10,New customer,6.367797,Low Spender,20.5,Non-frequent customer

In [ ]:
pd.options.display.max_rows = None

In [ ]:
df_ords_prods_merge.head(100)

In [ ]:
df_ords_prods_merge.loc[df_ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'
df_ords_prods_merge.loc[(df_ords_prods_merge['max_order'] <= 40) & (df_ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'
df_ords_prods_merge.loc[df_ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [ ]:
df_ords_prods_merge['loyalty_flag'].value_counts(dropna=False)

In [ ]:
df_ords_prods_merge.head()

### Exporting Data

In [ ]:
df_ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))