## 4.8 Grouping Task

### Contents
#### Importing Libraries
#### Importing Data
#### Grouping and Aggregating
#### Loyalty flag
#### Creating a Spending Flag to sort users into Low or High Spenders
#### Sort Customers by Frequency of Use
#### Export Data

### Importing Libraries

In [1]:
# Import Libraries
import pandas as pd
import numpy as np
import os

### Importing Data

In [3]:
# Define pathway to relevant folder
path = r'/Users/sydneyjohnson/Documents/CF Data Analytics Course/07-2024 Instacart Basket Analysis'

In [5]:
# Import ords_prods_merged.pkl
df = pd.read_pickle(os.path.join(path, '02 Data','Prepared Data', 'combo_7_25.pkl'))

### Grouping and Aggregating

In [7]:
# 2. Aggregate the mean of 'order_number' grouped by 'department_id' for entire dataframe
df.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

### These values are very similar to the subset of the first million rows that I was working on earlier. Most of them are within a range of + or - 1, though there are a couple departments (6 and 8) that have a slightly larger discrepency.

In [9]:
# Get basic statistics for 'prices' grouped by 'loyalty_flag'
df.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer     9.579296  1.0  14900.0
New customer      10.059689  1.0  14900.0
Regular customer   9.894537  1.0  14900.0

### Creating a Spending Flag to sort users into Low or High Spenders

In [ ]:
# Create an avg_price column for each user
df['avg_price'] = df.groupby(['user_id'])['prices'].transform('mean')

In [ ]:
# Check new 'avg_price' column
df.head()

In [ ]:
# Define 'spending_flag' perameters
df.loc[df['avg_price'] < 10, 'spending_flag'] = 'Low Spender'
df.loc[df['avg_price'] >= 10, 'spending_flag'] = 'High Spender'

In [ ]:
# Check new column
df.head()

### Sort Customers by Frequency of Use

In [ ]:
# Create a 'med_days_prior' column for each user
df['med_days_prior'] = df.groupby(['user_id'])['days_since_prior_order'].transform('median')

In [ ]:
# Check new column
df.head()

In [ ]:
# Define perameters for 'frequency_flag'
df.loc[df['med_days_prior'] > 20, 'frequency_flag'] = 'Non-frequent customer'
df.loc[(df['med_days_prior'] > 10) & (df['med_days_prior'] <= 20), 'frequency_flag'] = 'Regular customer'
df.loc[df['med_days_prior'] <= 10, 'frequency_flag'] = 'Frequent customer'

In [ ]:
# Check value counts for new flag
df['frequency_flag'].value_counts(dropna = False)

### Exporting Data

In [ ]:
# Export df to pickle
df.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'combo_7_24.pkl'))